
<div class="jumbotron">
  <h1 class="display-4"><%=t('welcome')%></h1>
  <p class="lead"><%=t('desc')%></p>
  <hr class="my-4">
  <p><%=t('choose')%></p>
  <%= render "menu"%>
</div>




<!-- <p>Você está no ambiente de <%#= ambiente%></p>--> 
<!--Chamando a funcação do helper-->