<%= form_for(@mining_type) do |f| %>
  <% if @mining_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mining_type.errors.count, "error") %> prohibited this mining_type from being saved:</h2>

      <ul>
      <% @mining_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description,  class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :acronym %><br>
    <%= f.text_field :acronym ,  class:"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit nil, class:"btn bnt-primary"%>
  </div>
<% end %>
