<!DOCTYPE html>
<html>
<head>
  <title>Teste</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <ul class="nav justify-content-end">
      <li class="nav-item">
         <%= link_to t('pt'), '/?locale=pt-BR',class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to t('eng'), '/?locale=en',class: "nav-link active"%>
      </li>
  </ul>
    <%= yield %> <!--É todo aqruivo html que é chamado-->
  </div>
</body>
</html>
