<%= form_for(@coin) do |f| %>
  <% if @coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% @coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description ,  class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :acronym %><br>
    <%= f.text_field :acronym ,  class:"form-control"%>
  </div>
   <div class="form-group">
    <%=f.label :mining_type %><br>
    <%= f.select("mining_type_id", @mining_type_options,{include_blank:'Selecione uma opção'},  class:"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :url_images %><br>
    <%= f.text_field :url_image ,  class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label "Imagem" %><br>
    <%= image_tag @coin.url_image,witdh:25, height:25 %>
  </div>
  <div class="actions">
    <%= f.submit nil, class:"btn bnt-primary" %>
  </div>
<% end %>
