<p id="notice"><%= notice %></p>

<h1><%=Coin.model_name.human(count: @coins.count)%></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%=Coin.human_attribute_name(:description)%></th>
      <th><%=Coin.human_attribute_name(:acronym)%></th>
      <th><%=Coin.human_attribute_name(:url_image)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><img src="<%= coin.url_image %>" wifht="25px", height="25px"/></td>
        <td><%= link_to t('links.show'), coin %></td>
        <td><%= link_to t('links.edit'), edit_coin_path(coin) %></td>
        <td><%= link_to t('links.delete'), coin, method: :delete, data: { confirm: t('links.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new'), new_coin_path %>
