<p id="notice"><%= notice %></p>

<p>
  <strong><%=Coin.human_attribute_name(:description)%>:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong><%=Coin.human_attribute_name(:acronym)%>:</strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong><%=Coin.human_attribute_name(:url_image)%></strong>
  <%= @coin.url_image %>
</p>
<p>
  <strong>Imagem</strong>
  <img src="<%= @coin.url_image %>" wifht="25px", height="25px"/>
</p>

<%= link_to t('links.show'), edit_coin_path(@coin) %> |
<%= link_to t('links.back'), coins_path %>
